<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6863bef5-73f1-44a5-b32c-0dd97a5fb3b0/resourceGroups/IOTC/providers/Microsoft.Web/sites/vibrationfuntionapp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://vibrationfuntionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>vibrationfuntionapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vibrationfuntionapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vibrationfuntionapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>